html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
	background-color: #2F3238;
  color: rgb(240, 237, 242);
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

hr {
  margin-bottom: 6.4px;
  margin-top: 6.4px;
  width: 62px;
}


.hr-small-device {
  width: 100%;
}

#index.background {
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#player.background {
  background: url(../assets/backdrop-magic.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-mydark {
  background-color: #26292e; /* fall back colour */
  background-color: rgba(38, 41, 46, 0.25);
}

.bg-navdark {
  background-color: #121212;
  border-bottom: 2px solid #262626;
}

.tooltip-inner {
  max-width: 350px;
}

.player-icon {
  position: relative;
  width: 96px;
}

.player-icon img {
  height: auto;
  width: 100%;
}

.player-icon:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;  /* vertical alignment of the inline element */
}

.player-level {
  color: #fff;
  left: 53px;
  position: absolute;
  top: 183px;
}

.player-name {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.player-region {
  position: absolute;
  top: 16px;
}

.badge {
  margin-top: -0.25em;
  vertical-align: middle;
}

.player-rank-icon {
  width: 128px;
}

.player-rank-text > p {
  margin-bottom: 0;
}

.match-history-player-other {
  height: 22px;
  max-width: 106px;
  min-width: 106px;
  width: 106px;
}

.match-history-player-link {
  color: inherit;
  text-decoration: none;
}

.match-history-player-link:hover {
  text-decoration: none;
}

.match-history-player-link:visted {
  text-decoration: none;
}

.match-history-player-link:active {
  text-decoration: none;
}

.match-history-champion-icon-other {
  width: 20px;
}

.match-history-champion-icon  {
  position: relative;
  width: 46px;
  z-index: 2;
}

.match-history-mastery-icon  {
  /*background-color: #333;*/
  bottom: 5px;
  left: 35px;
  position: absolute;
  width: 26px;
}

.match-history-summoner-icon > img  {
  position: relative;
  width: 28px;
  z-index: 2;
}

.match-history-rune-icon > img {
  width: 28px;
}

.stat-info-1 {
  max-width: 118px;
  min-width: 118px;
  position: relative;
  width: 118px;
}

.kill-stats-1 {
  max-width: 84px;
  min-width: 84px;
  width: 84px;
}

.kill-stats-2 {
  max-width: 68px;
  min-width: 68px;
  width: 68px;
}

.champion_icon {
  position: relative;
}

.game-info {
  max-width: 72px;
  min-width: 72px;
  width: 72px;
}

.items-1 {
  max-width: 104px;
  min-width: 104px;
  width: 104px;
}

.item > img {
  height: 32px;
  width: 32px;
}

.tooltip-champion {
  color: rgb(255, 206, 80);
}

.tooltip-summoner-spell {
  color: rgb(53, 252, 133);
}

.tooltip-item {
  color: rgb(69, 244, 255);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.challenger-border {
  background-image: url("../assets/borders/challenger.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.master-border {
  background-image: url("../assets/borders/master.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.diamond-border {
  background-image: url("../assets/borders/diamond.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.platinum-border {
  background-image: url(../assets/borders/platinum.png);
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.gold-border {
  background-image: url(../assets/borders/gold.png);
  background-repeat: no-repeat;
  background-size: 146px;
  height: 310px;
  left: -26px;
  position: absolute;
  top: -33px;
  width: 256px;
}

.silver-border {
  background-image: url(../assets/borders/silver.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.bronze-border {
  background-image: url(../assets/borders/bronze.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.unranked-border {
  background-image: url(../assets/borders/unranked.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.champion-icon-gold-ring {
  background: url(../assets/champion_frame_1.png);
  background-repeat: no-repeat;
  background-size: 52px;
  height: 130px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 130px;
  z-index: 1;
}

.mastery-icon {
  background-repeat: no-repeat !important;
  background-size: 42px !important;
  height: 496px;
  left: 3px;
  position: absolute;
  top: 12px;
  width: 252px;
  z-index: 1;
}

.mastery-icon-7 {
  background: url(../assets/champion-master-icons/7.png);
}

.mastery-icon-6 {
  background: url(../assets/champion-master-icons/6.png);
}

.mastery-icon-5 {
  background: url(../assets/champion-master-icons/5.png);
}

.mastery-icon-4 {
  background: url(../assets/champion-master-icons/4.png);
}

.mastery-icon-3 {
  background: url(../assets/champion-master-icons/3.png);
}

.mastery-icon-2 {
  background: url(../assets/champion-master-icons/2.png);
}

.mastery-icon-1 {
  background: url(../assets/champion-master-icons/1.png);
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
