html, body {
  font-family: 'Roboto', sans-serif;
  height:100%;
  margin: 0;
  padding: 0;
}

body {
	background-color: #2F3238;
  color: rgb(240, 237, 242);
}

hr {
  margin-bottom: 6.4px;
  margin-top: 6.4px;
  width: 62px;
}

.hr-small-device {
  width: 100%;
}

.background {
  background: url(../assets/backdrop-magic.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-mydark {
  background-color: #26292e; /* fall back colour */
  background-color: rgba(38, 41, 46, 0.25);
}

.bg-navdark {
  background-color: #121212;
  border-bottom: 2px solid #262626;
}

.player-icon {
  position: relative;
  width: 96px;
}

.player-icon img {
  height: auto;
  width: 100%;
}

.player-icon:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  height: 100%;
  vertical-align: middle;  /* vertical alignment of the inline element */
}

.player-level {
  color: #fff;
  left: 53px;
  position: absolute;
  top: 183px;
}

.player-name {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

.player-region {
  position: absolute;
  top: 16px;
}

.badge {
  margin-top: -0.25em;
  vertical-align: middle;
}

.player-rank-icon {
  width: 128px;
}

.player-rank-text > p {
  margin-bottom: 0;
}

.match-history-champion-icon  {
  position: relative;
  width: 46px;
  z-index: 2;
}

.match-history-mastery-icon  {
  /*background-color: #333;*/
  bottom: 5px;
  left: 35px;
  position: absolute;
  width: 26px;
}

.match-history-summoner-icon > img  {
  position: relative;
  width: 28px;
  z-index: 2;
}

.match-history-rune-icon > img {
  width: 28px;
}

.stat-info-1 {
  position: relative;
}

.champion_icon {
  position: relative;
}

.game-info {
  width: 72px;
}

.tooltip-champion {
  color: rgb(255, 206, 80);
}

.tooltip-summoner-spell {
  color: rgb(53, 252, 133);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.challenger-border {
  background-image: url("../assets/borders/challenger.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.master-border {
  background-image: url("../assets/borders/master.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.diamond-border {
  background-image: url("../assets/borders/diamond.png");
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.platinum-border {
  background-image: url(../assets/borders/platinum.png);
  background-repeat: no-repeat;
  background-size: 150px;
  height: 310px;
  left: -27px;
  position: absolute;
  top: -36px;
  width: 256px;
}

.gold-border {
  background-image: url(../assets/borders/gold.png);
  background-repeat: no-repeat;
  background-size: 146px;
  height: 310px;
  left: -26px;
  position: absolute;
  top: -33px;
  width: 256px;
}

.silver-border {
  background-image: url(../assets/borders/silver.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.bronze-border {
  background-image: url(../assets/borders/bronze.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.unranked-border {
  background-image: url(../assets/borders/unranked.png);
  background-repeat: no-repeat;
  background-size: 140px;
  height: 310px;
  left: -21px;
  position: absolute;
  top: -27px;
  width: 256px;
}

.champion-icon-gold-ring {
  background: url(../assets/champion_frame_1.png);
  background-repeat: no-repeat;
  background-size: 52px;
  height: 130px;
  left: -3px;
  position: absolute;
  top: -3px;
  width: 130px;
  z-index: 1;
}

.mastery-icon {
  background-repeat: no-repeat !important;
  background-size: 42px !important;
  height: 496px;
  left: 3px;
  position: absolute;
  top: 12px;
  width: 252px;
  z-index: 1;
}

.mastery-icon-7 {
  background: url(../assets/champion-master-icons/7.png);
}

.mastery-icon-6 {
  background: url(../assets/champion-master-icons/6.png);
}

.mastery-icon-5 {
  background: url(../assets/champion-master-icons/5.png);
}

.mastery-icon-4 {
  background: url(../assets/champion-master-icons/4.png);
}

.mastery-icon-3 {
  background: url(../assets/champion-master-icons/3.png);
}

.mastery-icon-2 {
  background: url(../assets/champion-master-icons/2.png);
}

.mastery-icon-1 {
  background: url(../assets/champion-master-icons/1.png);
}
